<!--This interface is based on a design by Dev Ed-->
<!--https://github.com/developedbyed/glass-website-->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glass Website</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/styles.css" />
  </head>
  <body>
    <main>
      <section class="glass">
        <div class="dashboard">
          <div class="user">
            <img src="./../img/elph.svg" alt="" />
            <h3>Tiny Mammoth</h3>
            <p>Private Insurance</p>
          </div>
          <div class="links">
            <div class="link">
              <img src="./../img/people.png" alt="" />
              <h2><a href="/">Group</a></h2>
            </div>
            <div class="link">
              <img src="./../img/dollar.png" alt="" />
              <h2><a href="/request">Request</a></h2>
            </div>
            <div class="link">
              <img src="./../img/hammer.png" alt="" />
              <h2><a href="rules">Group Rules</a></h2>
            </div>
          </div>
          <div class="pro">
            <h2>Powered by </h2>
            <img src="./../img/capital1.png" alt="" />
          </div>
        </div>
        <div class="games">
          <div class="status">
            <h1>Group Balance: $<%=data%></h1>
            <input type="text" />
          </div>
          <div class="cards">
            <div class="card">
              <img src="./../img/face.png" alt="" />
              <div class="card-info">
                <h2><a href="user/603b0e8a4a4a8605712848e0">Che Blankenship</a></h2>
                <p>Active Member</p>
                <div class="progress"></div>
              </div>
              <h2 class="percentage">3/5</h2>
            </div>
            <div class="card">
              <img src="./../img/face.png" alt="" />
              <div class="card-info">
                <h2><a href="user/603b0e484a4a8605712848de">Teja Makthala</a></h2>
                <p>Active Member</p>
                <div class="progress2"></div>
              </div>
              <h2 class="percentage">2/5</h2>
            </div>
            <div class="card">
              <img src="./../img/face.png" alt="" />
              <div class="card-info">
                <h2><a href="user/603b0eb24a4a8605712848e1">Jeffrey Byland</a></h2>
                <p>Active Member</p>
                <div class="progress3"></div>
              </div>
              <h2 class="percentage">0/5</h2>
            </div>
            <div class="card">
                <img src="./../img/face.png" alt="" />
                <div class="card-info">
                  <h2><a href="user/603b0e734a4a8605712848df">Eric Cutherell</a></h2>
                  <p>Active Member</p>
                  <div class="progress3"></div>
                </div>
                <h2 class="percentage">0/5</h2>
              </div>
          </div>
        </div>
      </section>
    </main>
    <div class="circle1"></div>
    <div class="circle2"></div>
  </body>
</html>
