<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Glass Website</title>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../css/styles.css" />
    <script src="./../js/index.js" charset="utf-8"></script>
  </head>
  <body>
    <main>
      <section class="glass">
        <div class="dashboard">
          <div class="user">
            <img src="./../img/elph.svg" alt="" />
            <h3>Tiny Mammoth</h3>
            <p>Private Insurance</p>
          </div>
          <div class="links">
            <div class="link">
              <img src="./../img/people.png" alt="" />
              <h2><a href="/">Group</a></h2>
            </div>
            <div class="link">
              <img src="./../img/dollar.png" alt="" />
              <h2><a href="/request">Request</a></h2>
            </div>
            <div class="link">
              <img src="./../img/hammer.png" alt="" />
              <h2><a href="rules">Group Rules</a></h2>
            </div>
          </div>
          <div class="pro">
            <h2>Powered by </h2>
            <img src="./../img/capital1.png" alt="" />
          </div>
        </div>
        <div class="games">
          <form name="form" id="form" action="" method="post">

          <div class="status">
            <h1>Request Funds</h1>
            <p>Who is the request for?</p>
            <input type="text" id="inputName" value="" />
          </div>
          <div class="status">
            <p>Enter payout account ID:</p>
            <input type="text" id="inputAccountId" value="" />
          </div>
          <div class="status">
            <p>How much do they need?</p>
            <input type="text" id="inputAmount" value="" />
          </div>

          <input class="button" type="button" onclick="clicked()">Submit Request</button>

        </form>

          </div>
        </div>
      </section>
    </main>
    <div class="circle1"></div>
    <div class="circle2"></div>
  </body>
</html>
