* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    color: #2c466d;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
  }
  h2,
  p, a {
    color: #5d5c61;
    font-weight: 500;
    opacity: 0.8;
    text-decoration: none;
  }
  
  h3 {
    color: #5d5c61;
    font-weight: 600;
    opacity: 0.8;
  }
  
  main {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    background: linear-gradient(to right top, #7395ae, #557a95);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .glass {
    background: white;
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 1rem;
    z-index: 2;
    backdrop-filter: blur(2rem);
    display: flex;
  }
 
  

  .dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border-radius: 1rem;
  }
  .link {
    background-color: white;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    border-radius: 1rem;
    display: flex;
    margin: 2rem 2rem;
    padding: 1rem 5rem;
    align-items: center;
  }
  .link img {
    width: 50px;

  }
  .link h2 {
    padding: 0rem 2rem;
  }
  
  .games {
    flex: 2;
  }
  
  .pro {
    background: linear-gradient(to right top, #7395ae, #809eb4);
    border-radius: 1rem;
    color: white;
    padding: 2rem 1rem;
    position: relative;
    width: 70%;
  }
  
  .pro img {
    position: absolute;
    top: 30%;
    right: 10%;
    width: 100px;
  }
  .pro h2 {
    width: 60%;
    color: white;
    font-weight: 600;
    padding-right: 20px;
  }
  
  /* users list */
  .status {
    margin-bottom: 2rem;
  }
  
  .status input {
    background: linear-gradient(
      to right bottom,
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.3)
    );
    border: none;
    width: 50%;
    padding: 0.5rem;
    border-radius: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  }
  
  .games {
    margin: 2rem 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .card {
    display: flex;
    background: linear-gradient(
      to left top,
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.5)
    );
    border-radius: 1rem;
    margin: 1rem 0rem;
    padding: 2rem;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
    justify-content: space-between;
  }

  .card img {
    height: 100px;
    border-radius: 10%;
    margin-left: 5%;
    margin-right: 5%;
  }
  
  .card-info {
    width: 60%;
  }

  .progress {
    background: linear-gradient(to right top, #7395ae, #80a6c2);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
  }
  .progress::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 60%;
  }

  .progress2 {
    background: linear-gradient(to right top, #7395ae, #80a6c2);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
  }
  .progress2::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 30%;
  }

  .progress3 {
    background: linear-gradient(to right top, #7395ae, #80a6c2);
    width: 100%;
    height: 25%;
    border-radius: 1rem;
    position: relative;
    overflow: hidden;
  }
  .progress3::after {
    content: "";
    width: 100%;
    height: 100%;
    background: rgb(236, 236, 236);
    position: absolute;
    left: 3%;
  }
 
  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .percentage {
    font-weight: bold;
    background: linear-gradient(to right top, #2c466d, #6482af);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .button {
    background-color: #2c466d; 
    border-radius: 1rem;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 50%;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.212);
  }
  
  .amendment {
    color: #b90000;
  }